<h1>Kanbanb Boards</h1>

<div class="wrapper">
	<div class="centre">

<% for board in @boards %>
	<div class="roundedcornr_box">
		<div class="roundedcornr_content">
    	<strong><%= link_to board.name, board %></strong> 
		<div class="right"> <%= button_to 'Delete', board, :confirm => 'Are you sure?', :method => :delete %></div>
		</div>
	</div>

<% end %>
	</div>
</div>

<%= link_to "Add New Board", new_board_path %> | <%= link_to "Events overview", events_path %><br/>

<div class="calendar" id="my-timeline"></div>
